<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- <debug /> -->
	
	<!--  <http pattern="/bbs/**" security="none" /> -->

	<http auto-config="true" use-expressions="true" access-decision-manager-ref="accessDecisionManager"
		entry-point-ref="authenticationEntryPoint">
		<form-login login-processing-url="/bbs/login" 
			authentication-success-handler-ref="authenticationSuccessHandler"
			authentication-failure-handler-ref="authenticationFailureHandler" />
        
        <!-- javaBase -->
        <intercept-url pattern="/bbs/javaBase/editInit" access="hasAuthority('javaBaseEdit')" />
        <!-- 不登录也能访问 -->
		
		<intercept-url pattern="/bbs/userMenu" access="authenticated" />
		<logout logout-url="/bbs/logout" logout-success-url="/" delete-cookies="JSESSIONID" />
		<csrf disabled="true" />

		<headers>
			<frame-options disabled="true" />
		</headers>
		
		<remember-me />
	</http>
	
	<beans:bean name="accessDecisionManager"
		class="com.fun.bbs.security.MyAccessDecisionManager" />
	
	<beans:bean name="authenticationEntryPoint"
		class="com.fun.bbs.security.MyAuthenticationEntryPoint" />

	<beans:bean name="authenticationSuccessHandler"
		class="com.fun.bbs.security.MyAuthenticationSuccessHandler" />
		
		<beans:bean name="authenticationFailureHandler"
		class="com.fun.bbs.security.MyAuthenticationFailureHandler" />

	<beans:bean name="bcryptEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<beans:bean id="userDetailsService"
		class="com.fun.bbs.security.MyUserDetailsService" />

	<authentication-manager erase-credentials="false">
		<authentication-provider user-service-ref="userDetailsService">		
			<password-encoder ref="bcryptEncoder" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
