<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fun.bbs.dao.mappers.PostRecordExMapper" >	
  <sql id="Query_From_Where_Clause">
  	from post_record F,
	(select C.id,E.user_name,C.reply_time
	from
    (select Max(B.reply_time) reply_time,A.id
	from post_record A 
	left join reply B on A.id = B.post_id group by A.id)C 
        left join reply D on (C.id = D.post_id and C.reply_time = D.reply_time)
        left join user E on E.id = D.replier_id) G,user H
	where 
    F.id = G.id
    and F.author_id = H.id
    <if test="title != null">
    	and F.title like #{title}
    </if>
    and F.section_id = 1
  </sql>
  
  <select id="queryCount" parameterType="java.util.Map" resultType="java.lang.Integer">
	  select count(1)
	  <include refid="Query_From_Where_Clause" />
  </select>
  
  <select id="queryList" parameterType="java.util.Map" resultType="com.fun.bbs.dao.entities.PostRecordDetail">
  	select F.id,F.post_time,F.title,F.reply_num,F.visit_num,H.user_name author,G.user_name replier,G.reply_time
	<include refid="Query_From_Where_Clause" />
	order by
	<if test="orderBy != null">
		${orderBy},
	</if>
	F.id
	<if test="skipRow != null">
		limit ${skipRow},${takeRow}
	</if>
  </select>
</mapper>